<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport"
		content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<meta name="theme-color" content="#000000">
	<title>Pay_app</title>
	<meta name="description" content="Finapp HTML Mobile Template">
	<link rel="icon" type="image/png" th:href="@{/resources/img/logo.jpeg}" sizes="32x32">
	<link rel="apple-touch-icon" sizes="180x180" th:href="@{/resources/img/logo.jpeg}">
	<link th:href="@{/resources/css/payApp.css}" rel="stylesheet" />
	<link rel="stylesheet" th:href="@{/resources/fontawesome-5/FA5PRO-master/css/all.css}">
	<link rel="stylesheet" th:href="@{/resources/fontawesome/css/all.css}">


	<link rel="manifest" th:href="@{__manifest.json}">
</head>


<body>

	<!-- loader -->
	<div id="loader">
		<img th:src="@{/resources/img/loading-icon.png}" alt="icon" class="loading-icon">
	</div>
	<!-- * loader -->
	<!-- App Header -->
	<div class="appHeader">
		<div class="left">
			<a href="#" class="headerButton goBack">
				<ion-icon name="chevron-back-outline"></ion-icon>
			</a>
		</div>
		<div class="pageTitle">
			Settings
		</div>
		<div class="right">

		</div>
	</div>
	<!-- * App Header -->

	<!-- App Capsule -->
	<div id="appCapsule">
		<div class="section mt-3 text-center">
			<div class="avatar-section">
				<a href="#">
					<img th:src="@{https://ui-avatars.com/api/?bold=true&color=fff&background=6495ED&name={photo}(photo=${loginUser.userName})}"
						alt="avatar" class="imaged w100 rounded">

				</a>
			</div>
		</div>

		<div class="listview-title mt-1">Profile Settings</div>
		<div class="listview-title text-primary" th:text="${message}"></div>

		<ul class="listview image-listview text inset">
			<li>
				<a href="#" class="item" data-bs-toggle="modal" data-bs-target="#changeUsername">
					<div class="in">
						<div th:text="${loginUser.userName}"></div>
					</div>
				</a>
			</li>

			<li>
				<a href="#" class="item" data-bs-toggle="modal" , data-bs-target="#changePhNo">
					<div class="in">
						<div th:text="${loginUser.phoneNo}"></div>
					</div>
				</a>
			</li>

			<li>
				<a href="#" class="item" data-bs-toggle="modal" data-bs-target="#changePassword">
					<div class="in">
						<div>Update Password</div>
					</div>
				</a>
			</li>
		</ul>

		<div class="listview-title mt-1">Security</div>
		<ul class="listview image-listview text mb-2 inset">

			<li>
				<a th:href="@{/doLogout}" class="item">
					<div class="in">
						<div>Log out this devices</div>
					</div>
				</a>
			</li>
		</ul>
	</div>
	<!-- * App Capsule -->

	<!-- Change Name Action Sheet Inset -->
	<div class="modal fade action-sheet inset" id="changeUsername" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document" style="position: relative; top:150px;">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Change Name</h5>
				</div>
				<div class="modal-body">
					<div class="action-sheet-content">
						<form th:action="@{/user/profileSettingsUpdateName}" method="POST">
							<div class="form-group basic my-2">
								<div class="input-wrapper">
									<label class="label my-2" for="text11d">Enter New Name</label>
									<input type="text" th:value="${loginUser.userName}" required name="name" class="form-control" id="text11d"
										placeholder="Enter New Name">
									<i class="clear-input">
										<ion-icon name="close-circle"></ion-icon>
									</i>
								</div>
							</div>

							<div class="form-group basic">
								<div class="row">
									<div class="col-6">
										<a th:href="@{/#}" data-bs-dismiss="modal"
											class="btn btn-lg btn-outline-secondary btn-block">Cancel</a>
									</div>
									<div class="col-6">
										<button type="submit" class="btn btn-lg btn-primary btn-block">Confirm</button>
									</div>
								</div>
							</div>

						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- *Change Name Action Sheet Inset -->



	<!-- Change PhNo Action Sheet Inset -->
	<div class="modal fade action-sheet inset" id="changePhNo" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document" style="position: relative; top:150px;">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Update Phone Number</h5>
				</div>
				<div class="modal-body">
					<div class="action-sheet-content">
						<form th:action="@{/user/profileSettingsUpdatePhoneNo}" method="POST">
							<div class="form-group basic my-2">
								<div class="input-wrapper">
									<label class="label my-2" for="text11d">Enter Update Phone Number</label>
									<input type="text" th:value="${loginUser.phoneNo}" required name="phoneNo" class="form-control" id="text11d"
										placeholder="Enter Update Phone Number">
									<i class="clear-input">
										<ion-icon name="close-circle"></ion-icon>
									</i>
								</div>
							</div>

							<div class="form-group basic">
								<div class="row">
									<div class="col-6">
										<a th:href="@{/#}" data-bs-dismiss="modal"
											class="btn btn-lg btn-outline-secondary btn-block">Cancel</a>
									</div>
									<div class="col-6">
										<button type="submit" class="btn btn-lg btn-primary btn-block">Confirm</button>
									</div>
								</div>
							</div>

						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- *Change PhNo Action Sheet Inset -->

	<!-- Change Password Action Sheet Inset -->
	<div class="modal fade action-sheet inset" id="changePassword" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document" style="position: relative; top:150px;">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Update Password</h5>
				</div>
				<div class="modal-body">
					<div class="action-sheet-content">
						<form th:action="@{/user/profileSettingsUpdatePassword}" method="POST">

							<div class="form-group basic my-2">
								<div class="input-wrapper">
									<label class="label my-2" for="text11d">Enter Old Password</label>
									<input type="password" required name="oldPassword" class="form-control" id="text11d"
										placeholder="Enter Old Password">
									<i class="clear-input">
										<ion-icon name="close-circle"></ion-icon>
									</i>
								</div>
							</div>
							<div class="form-group basic my-2">
								<div class="input-wrapper">
									<label class="label my-2" for="text11d">Enter New Password</label>
									<input type="password" required name="newPassword" class="form-control" id="text11d"
										placeholder="Enter New Password">
									<i class="clear-input">
										<ion-icon name="close-circle"></ion-icon>
									</i>
								</div>
							</div>

							<div class="form-group basic">
								<div class="row">
									<div class="col-6">
										<a th:href="@{/#}" data-bs-dismiss="modal"
											class="btn btn-lg btn-outline-secondary btn-block">Cancel</a>
									</div>
									<div class="col-6">
										<button type="submit" class="btn btn-lg btn-primary btn-block">Confirm</button>
									</div>
								</div>
							</div>

						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- *Change Password Action Sheet Inset -->

	<!-- Transfer Action Sheet Inset -->
	<div class="modal fade action-sheet inset" id="transferActionSheet" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Transfer Money</h5>
				</div>
				<div class="modal-body">
					<div class="action-sheet-content">
						<form th:action="@{/user/send}" method="POST" th:object="${inputForm}">
							<div class="form-group basic">
								<div class="input-wrapper">
									<label class="label" for="text11d">To</label>
									<input type="text" th:field="*{to}" class="form-control" id="text11d"
										placeholder="Enter PhoneNumber">
									<i class="clear-input">
										<ion-icon name="close-circle"></ion-icon>
									</i>
								</div>
							</div>

							<div class="form-group basic">
								<label class="label">Enter Amount</label>
								<div class="input-group mb-2">
									<span class="input-group-text" id="basic-addonb1">$</span>
									<input type="number" th:field="*{amount}" class="form-control"
										placeholder="Enter an amount" minlength="1000">
								</div>
							</div>

							<div class="form-group basic">
								<button type="submit" class="btn btn-primary btn-block btn-lg"
									data-bs-dismiss="modal">Transfer</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- * withdraw Action Sheet Inset -->



	<!-- * App Capsule -->
	<div class="section full fix mt-4">
		<!-- App Bottom Menu -->
		<div class="appBottomMenu" style="position: fixed; z-index: 0; padding-bottom: 0;">
			<a th:href="@{/}" class="item">
				<div class="col">
					<i class="fal fa-home fa-fade"></i>
					<p>Home</p>
				</div>
			</a>
			<a th:href="@{/user/transactionLists}" class="item">
				<div class="col">
					<i class="fal fa-chart-line fa-fade"></i>
					<p>Activity</p>
				</div>
			</a>
			<a href="#" data-bs-toggle="modal" data-bs-target="#transferActionSheet" class="item">
				<div class="col">
					<div class="action-button large">
						<i class="fal fa-paper-plane fa-fade"></i>
					</div>
					<p>Send</p>
				</div>
			</a>
			<a th:href="@{/user/card}" class="item">
				<div class="col">
					<i class="fal fa-money-check-dollar fa-fade"></i>
					<p>Wallet</p>
				</div>
			</a>

			<a href="#" class="item" data-bs-toggle="modal" data-bs-target="#sidebarPanel">
				<div class="col">
					<i class="fal fa-ellipsis-h fa-fade"></i>
					<p>Mores</p>
				</div>
			</a>

		</div>
		<!-- * App Bottom Menu -->
	</div>
	<!-- App Sidebar -->
	<div class="modal fade panelbox panelbox-left" id="sidebarPanel" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-body p-0">
					<!-- profile box -->
					<div class="profileBox pt-2 pb-2">
						<div class="image-wrapper">
							<img th:src="@{/resources/img/logo.jpeg}" alt="image" class="imaged " style="width: 45px;">
						</div>
						<div class="in">
							<strong>Pay_App</strong>
						</div>
						<a href="#" class="btn btn-link btn-icon sidebar-close" data-bs-dismiss="modal">
							<i class="fa fa-angle-left"></i>
						</a>
					</div>
					<!-- * profile box -->
					<!-- menu -->
					<div class="listview-title mt-1">Menu</div>
					<ul class="listview flush transparent no-line image-listview">
						<li>
							<a th:href="@{/user/transactionLists}" class="item">
								<div class="icon-box bg-success">
									<i class="fa fa-window-restore text-light "></i>
								</div>
								<div class="in">
									Transactions
								</div>
								<i class="fa fa-angle-right"></i>
							</a>
						</li>
						<li>
							<a th:href="@{/user/card}" class="item">
								<div class="icon-box bg-danger">
									<ion-icon name="document-text-outline"></ion-icon>
								</div>
								<div class="in">
									Wallet
								</div>
								<i class="fa fa-angle-right"></i>

							</a>
						</li>
					</ul>
					<!-- * menu -->

					<!-- others -->
					<div class="listview-title mt-1">Others</div>
					<ul class="listview flush transparent no-line image-listview">
						<li>
							<a th:href="@{/user/profileSettings}" class="item">
								<div class="icon-box bg-white">
									<ion-icon name="settings-outline"></ion-icon>
								</div>
								<div class="in">
									Settings
								</div>
								<i class="fa fa-angle-right"></i>
							</a>
						</li>
						
						<li>
							<a th:href="@{/doLogout}" class="item">
								<div class="icon-box bg-primary">
									<ion-icon name="log-out-outline"></ion-icon>
								</div>
								<div class="in">
									Log out
								</div>
								<i class="fa fa-angle-right"></i>
							</a>
						</li>


					</ul>
					<!-- * others -->
				</div>
			</div>
		</div>
	</div>
	<!-- * App Sidebar -->


	<!-- ========= JS Files =========  -->
	<!-- Bootstrap -->
	<script th:src="@{/resources/js/lib/bootstrap.bundle.min.js}"></script>

	<!-- Ionicons -->
	<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
	<!-- Splide -->
	<script th:src="@{/resources/js/plugins/splide/splide.min.js}"></script>

	<!-- Base Js File -->
	<script th:src="@{/resources/js/base.js}"></script>


	<script>
		// Add to Home with 2 seconds delay.
		AddtoHome("2000", "once");
	</script>


</body>

</html>