<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="theme-color" content="#000000">
	<title>Pay_app</title>
    <meta name="description" content="Finapp HTML Mobile Template">
 	<link rel="icon" type="image/png" th:href="@{/resources/img/logo.jpeg}" sizes="32x32">
	<link rel="apple-touch-icon" sizes="180x180" th:href="@{/resources/img/logo.jpeg}">
  <link th:href="@{/resources/css/payApp.css}" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/resources/fontawesome-5/FA5PRO-master/css/all.css}">
    <link rel="stylesheet" th:href="@{/resources/fontawesome/css/all.css}">
    <link rel="manifest" th:href="@{__manifest.json}">
</head>
<body>
 <!-- loader -->
	<div id="loader">
		<img th:src="@{/resources/img/loading-icon.png}" alt="icon" class="loading-icon">
	</div>
	<!-- * loader -->
    <!-- App Header -->
    <div class="appHeader">
        <div class="left">
            <a href="#" class="headerButton goBack">
                <ion-icon name="chevron-back-outline"></ion-icon>
            </a>
        </div>
        <div class="pageTitle">Inputs</div>
        <div class="right">
        </div>
    </div>
    <!-- * App Header -->
    <!-- App Capsule -->
    <div id="appCapsule">
        <div class="section mt-5">
            <div class="section-title " style="margin-top:130px ;"></div>
            <div class="card">
                <div class="card-body">
                    <div class="mb-05">
                        Type something to activate animation.
                    </div>
                    <form action="app-transaction-verification.html">
                        <div class="form-group basic animated">
                            <div class="input-wrapper">
                                <label class="label" for="userid2">form</label>
                                <input type="text" class="form-control" id="userid2" placeholder="User ID">
                                <i class="clear-input">
                                    <i class="fa fa-close"></i>
                                </i>
                            </div>
                        </div>
                        <div class="form-group basic animated">
                            <div class="input-wrapper">
                                <label class="label" for="amount2">To</label>
                                <input type="text" class="form-control" id="amount2" placeholder="To">
                                <i class="clear-input">
                                    <ion-icon name="close-circle"></ion-icon>
                                </i>
                            </div>
                        </div>
                        <div class="form-group basic animated">
                            <div class="input-wrapper">
                                <label class="label" for="amount2">Amount</label>
                                <input type="text" class="form-control" id="amount2" placeholder="Amount">
                                <i class="clear-input">
                                    <ion-icon name="close-circle"></ion-icon>
                                </i>
                            </div>
                        </div>
                        <div class="form-group basic">
                            <button type="submit" class="btn btn-primary btn-block btn-lg"
                                data-bs-dismiss="modal">Send</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- * App Capsule -->

    <!-- * App Capsule -->
    <div class="section full fix mt-4">
        <!-- App Bottom Menu -->
        <div class="appBottomMenu" style="position: fixed; z-index: 0; padding-bottom: 0;">
            <a th:href="@{/}" class="item">
                <div class="col">
                    <i class="fal fa-home fa-fade"></i>
                    <p>Home</p>
                </div>
            </a>
            <a th:href="@{/user/transactionLists}" class="item">
                <div class="col">
                    <i class="fal fa-chart-line fa-fade"></i>
                    <p>Activity</p>
                </div>
            </a>
            <a href="#" data-bs-toggle="modal" data-bs-target="#transferActionSheet" class="item">
                <div class="col">
                    <div class="action-button large">
                        <i class="fal fa-paper-plane fa-fade"></i>
                    </div>
                    <p>Send</p>
                </div>
            </a>
            <a th:href="@{/user/card}" class="item">
                <div class="col">
                    <i class="fal fa-money-check-dollar fa-fade"></i>
                    <p>Wallet</p>
                </div>
            </a>

            <a href="#" class="item" data-bs-toggle="modal" data-bs-target="#sidebarPanel">
                <div class="col">
                    <i class="fal fa-ellipsis-h fa-fade"></i>
                    <p>Mores</p>
                </div>
            </a>

        </div>
        <!-- * App Bottom Menu -->
    </div>
    <!-- App Sidebar -->
    <div class="modal fade panelbox panelbox-left" id="sidebarPanel" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body p-0">
                    <!-- profile box -->
                    <div class="profileBox pt-2 pb-2">
                        <div class="image-wrapper">
                            <img  th:src="@{/resources/img/team-1.jpg}" alt="image" class="imaged  w36">
                        </div>
                        <div class="in">
                            <strong th:text="${loginUser.userName}"></strong>
                            <div class="text-muted" th:text="${loginUser.phoneNo}"></div>
                        </div>
                        <a href="#" class="btn btn-link btn-icon sidebar-close" data-bs-dismiss="modal">
                            <i class="fa fa-angle-left"></i>
                        </a>
                    </div>
                    <!-- * profile box -->




                    <!-- menu -->
                    <div class="listview-title mt-1">Menu</div>
                    <ul class="listview flush transparent no-line image-listview">
                        <li>
                            <a th:href="@{/user/transactionLists}" class="item">
                                <div class="icon-box">
                                    <i class="fa fa-window-restore text-light fa-fade"></i>
                                </div>
                                <div class="in">
                                    Transactions
                                </div>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                        <li>
                            <a th:href="@{/user/card}" class="item">
                                <div class="icon-box bg-primary">
                                    <ion-icon name="document-text-outline"></ion-icon>
                                </div>
                                <div class="in">
                                    Wallet
                                </div>
                                <i class="fa fa-angle-right"></i>

                            </a>
                        </li>
                    </ul>
                    <!-- * menu -->

                    <!-- others -->
                    <div class="listview-title mt-1">Others</div>
                    <ul class="listview flush transparent no-line image-listview">
                        <li>
                            <a th:href="@{/user/profileSettings}" class="item">
                                <div class="icon-box bg-primary">
                                    <ion-icon name="settings-outline"></ion-icon>
                                </div>
                                <div class="in">
                                    Settings
                                </div>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                      
                        <li>
                            <a th:href="@{/doLogout}" class="item">
                                <div class="icon-box bg-primary">
                                    <ion-icon name="log-out-outline"></ion-icon>
                                </div>
                                <div class="in">
                                    Log out
                                </div>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>


                    </ul>
                    <!-- * others -->
                </div>
            </div>
        </div>
    </div>
    <!-- * App Sidebar -->

    <!-- ========= JS Files =========  -->
    <!-- Bootstrap -->
    <script th:src="@{/resources/js/lib/bootstrap.bundle.min.js}"></script>

    <!-- Ionicons -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <!-- Splide -->
    <script th:src="@{/resources/js/plugins/splide/splide.min.js}"></script>

    <!-- Base Js File -->
    <script th:src="@{/resources/js/base.js}"></script>


    <script>
        // Add to Home with 2 seconds delay.
        AddtoHome("2000", "once");
    </script>


</body>

</html>